<div class="modal fade" id="addExercice">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><i>Add an Exercise</i></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body mx-auto">
          <form [formGroup]="exerciseForm" (ngSubmit)="addExercice()">
            <select formControlName="exerciseControl" class="form-control" style="margin-bottom: 10px;">
              <option value="" disabled selected>Selectionner un Exercice</option>
              <option *ngFor="let exercice of exerciceTemplates" [ngValue]="exercice">{{exercice.name}}</option>
            </select>
          
            <div class="form-group">
              <label for="remarque">Remarque</label>
              <textarea formControlName="remarque" class="form-control" id="remarque" rows="3"></textarea>
            </div>
          
            <button [disabled]="exerciseForm.invalid" type="submit" class="btn btn-outline-success" style="margin-top:10px;">Add</button>
          </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

