<div *ngIf="exercice" class="cards">
  <ul class="list-group list-group-flush">
    <li *ngFor="let serie of exercice.series; let i = index" class="list-group-item">
      <div class="labelSerie">Serie {{ i + 1 }}</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ serie.repetition }} répétitions</li>
        <li class="list-group-item">{{ serie.weight }} kg</li>
        <li class="list-group-item" *ngIf='serie.rating!=""'>{{ serie.rating }}/5</li>
      </ul>
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(serie.id, i)" style="float: right; margin-top: 10px;">Delete</button>
      <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editSerie" style="float: left; margin-top: 10px;">
        Edit
      </button>
  
      <div class="modal fade" id="editSerie">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
  
            <div class="modal-header">
              <h4 class="modal-title"><i>Edit the Serie n° {{ i + 1 }}</i></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <div class="modal-body mx-auto">
                <app-modify-serie [serie]="serie"></app-modify-serie>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
  
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addSerie" style="float: center; width: 100%;">
        Add Serie
      </button>
  
      <div class="modal fade" id="addSerie">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
  
            <div class="modal-header">
              <h4 class="modal-title"><i>Add a Serie</i></h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
  
            <div class="modal-body mx-auto">
                <app-add-series [exercice]="exercice"></app-add-series>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
  
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>