<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="cards">
          <h2>Your Sessions</h2>
          <ul class="list-group list-group-flush" id="sessionList">
            <li *ngFor="let session of sessions" class="list-group-item" [ngClass]="{selected: sessionSelected && session.id === sessionSelected.id}">
              <a (click)="setSession(session)" class="nameSession">
                <div class="divNameSession">
                    {{ session.name }}
                </div>
              </a>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="delete(session.id, session.name)" style="float: right; margin-top: 10px;">Delete</button> 
              <button type="button" (click)="getSessiontoEdit(session)" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#editSession" style="float: left; margin-top: 10px;">
                Edit
              </button>
              <app-modify-session [session]="sessiontoEdit" *ngIf='sessiontoEdit == session'></app-modify-session>
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createSession" style="float: center; width: 100%;">
                  Add Session
                </button>
                <app-session-create></app-session-create>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cards">        
        <h2>Your Exercises</h2>
        <app-session [session]="sessionSelected" #session></app-session>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="cards">
        <h2>Your Series</h2>
        <app-exercice [exercice]="session.exerciceSelected"></app-exercice>
      </div> 
    </div>
  </div>
</div>