.container {
    height: 100%;
}
.row {
    height: 100%;
}
.col-sm-4 {
    height: 100%;
    
}

.cards {
    height: 100%;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    overflow: auto;
}

h2 {
    text-align: center;
    padding-bottom: 10px;
}

.nameSession {
    height: 100%;
    width: 100%;
}

.nameSession:link {
    text-decoration: none;
    color: black;
}

.nameSession:hover {
    cursor: pointer;
    text-decoration: none;
    color: grey;
}
.nameSession:visited {
    text-decoration: none;
    color: black;
}

.modal-body {
    margin: auto;
}

.divNameSession {
    margin: 10px;
}
