<div class="modal fade" id="editExercice">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title"><i>Edit the Exercise : {{ exercice.name }}</i></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body mx-auto">
          <div *ngIf="exercice">
            <form [formGroup]="exerciseForm" (ngSubmit)="modifyExercise()">
              <select formControlName="exerciseControl" class="form-control" style="margin-bottom: 10px;">
                  <option *ngFor="let exercices of exerciceTemplates" [selected]="exercices.name == exercice.name"
                  value="{{exercices.name}}">{{exercices.name}}</option>
              </select>
            
              <div class="form-group">
                <label for="remarque">Remarque</label>
                <textarea formControlName="remarque" class="form-control" id="remarque" rows="3"></textarea>
              </div>
            
              <button [disabled]="exerciseForm.invalid" type="submit" class="btn btn-outline-success" style="margin-top:10px;">Edit</button>
            </form>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
