/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background: url(./image/background_homepage.jpg) no-repeat center center fixed;    
  height: 92.3%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.selected {
  background-color: #343a40;
  color: #fff;
}
