<form [formGroup]="seriesForm" (ngSubmit)="modifySeries()">
    <div class="form-group">
      <label for="repetitions">Repetitions</label>
      <input class="form-control" type="number" formControlName="repetitions"  id="repetitions">
    </div>
  
    <div class="form-group">
      <label for="weight">Weight</label>
      <input class="form-control" type="number" formControlName="weight"  id="weight">
    </div>
  
    <label for="rating">Rating (Rate your series between 1 and 5)</label>
    <select formControlName="rating" class="form-control" style="margin-bottom: 10px;" id="rating">
      <option value="" disabled selected>Choose a score</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  
    <button [disabled]="seriesForm.invalid" type="submit" class="btn btn-outline-success" style="margin-top:10px;">Edit</button>
</form>