#home {
    background: url(../image/background_homepage.jpg) no-repeat center center fixed;    
    display: table;
    height: 92.3%;
    position: relative;
    width: 100%;
    background-size: cover;
}
.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.landing-text h1 {
    font-size: 500%;
    font-weight: 700;
}